$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "GravurCondensedRegularRoman/styles.css";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$telstraltblue: #01B5F0;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #EEE;
}

h1, h2 {
  font-family: 'Gravur';
  text-transform: uppercase;
}

a {
  cursor: pointer;
}

#title {
  a {
    color: white;
    text-decoration: none;
  }
  margin: 20px 0;
}

.btn, input {
  border-radius: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 0px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  .navbar {
    background-color: #555555;
    border: 0px;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,.5);
    border-radius: 0px;
    min-height: 0px;

    .navbar-brand {
      height: auto;
      color: white;
    }

    a {
      padding: 10px 20px;
      font-weight: bold;
      color: white;
    }

    ul {
      li {
        a {
          color: white;
          font-weight: normal;
        }
        &.active {
          a {
            background-color: rgba(0,0,0,.3);
            border-left: 1px solid #333;
            border-right: 1px solid #333;
            color: white
          }
        }
      }
    }

  }
}

/* Custom page footer */
.footer {
  margin-top: 20px;
  background-color: #555555;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;

  ul {
    list-style-type: none;
    li {
      line-height: 1.8;
      a {
        color: white;
        font-size: 12px;
        text-decoration: none;
        &.header {
          font-weight: bold;
          border-bottom: 0px;
        }
      }
    }

    &.social-icons {
      li {
        display: inline-block;
        a {
          span.social-icon {
            width: 20px;
            display: inline-block;
            height: 20px;
            margin-right: 10px;
            background-size: contain;
            &.facebook { background-image: url(../images/social-icon-facebook-2x.png); }
            &.twitter { background-image: url(../images/social-icon-twitter-2x.png); }
            &.youtube { background-image: url(../images/social-icon-youtube-2x.png); }
            &.google { background-image: url(../images/social-icon-google-2x.png); }
          }
        }
      }
    }
  }

}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 980px) {
  .container {
    max-width: 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 00px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .navbar {
    margin-bottom: 0px;
  }
}

#mainContainer {
  background: url(../images/bgSpectrumBlueLarge.jpg);
  background-repeat: no-repeat;
  background-position: center -500px;
}

#whitenav {
  background-color: white;
  font-family: 'Gravur';
  text-transform: uppercase;
  a {
    text-decoration: none;
    color: #555;
    line-height: 30px;
  }
  .links {
    a {
      text-transform: none;
      font-family: sans-serif;
      border-left: 1px solid $telstraltblue;
      padding: 2px 30px 2px 10px;
      display: inline-block;
      background-image: url(../images/moredowndown.png);
      background-repeat: no-repeat;
      background-position: right center;
    }
    .popover {
      a {
        border: 0px;
        background-image: none;
      }
    }
    #search {
      text-transform: none;
      font-family: sans-serif;
      border-left: 1px solid $telstraltblue;
      padding: 7px 30px 7px 10px;
      display: inline-block;
      border-top: 0px;
      border-right: 0px;
      border-bottom: 0px;
      outline: 0px;
      background-image: url(../images/search.png);
      background-repeat: no-repeat;
      background-position: right center;
    }
  }
}

#subheader {
  #loginbtn {
    margin-top: 20px;
    background-color: rgba(0,0,0,.3);
  }
  #loginbtn + .popover {
    background-color: rgba(0,16,64,.8);
    border-radius: 0px;
    color: white;
  }

  .btn-link {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }

  .loggedin {
    padding-top: 20px;
  }
}

#whiteMainContainer {
  background-color: rgba(255,255,255,1);

  h1, h2 {
    color: $telstraltblue;
  }

  .sidebar {
    padding: 10px 0;

    h3 {
      color: $telstraltblue;
    }

    a.scheduledfor, button.scheduledfor, span.tag {
      text-align: left;
      &:not(.btn-primary) {
        background-color: #CCCCCC;
        color: white;
      }
    }

    span.tag {
      display: inline-block;
      margin: 0 5px 5px 0;
      border-radius: 10px;
    }
  }
  .main-content {
    border-left: 1px solid #CCC;
    padding: 10px 0;
    min-height: 800px;
  }

  article.class {

    -webkit-transition: 250ms;

    &:hover {
      background-color: #EEEEEE;
    }

    &.ng-enter {
      opacity: 0;
    }
    &.ng-leave {
      opacity: 1;
    }
    &.ng-enter.ng-enter-active {
      opacity: 1;
    }
    &.ng-leave.ng-leave-active {
      opacity: 0;
    }

    margin: 10px 0;
    padding: 15px 0;

    &:after {
      content: '';
      height: 20px;
      width: 100%;
      border-bottom: 1px solid #EEE;
    }

    &:last-child{
      &:after {
        border-bottom: 0px;
      }
    }

    .floating-tags {
      position: absolute;
      right: 25px;
      z-index: 1;
      margin-top: -10px;
      width: 140px;
      text-align: right;

      .class-new {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: inline-block;
        background-color: #FE1D97;
        color: white;
        text-align: center;
        line-height: 50px;
        font-family: 'Gravur';
        text-transform: uppercase;

      }
      .class-active {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: inline-block;
        background-color: #6DD900;
        color: white;
        text-align: center;
        line-height: 50px;
        font-family: 'Gravur';
        text-transform: uppercase;
        margin-top: -10px;
      }
      .class-inactive {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: inline-block;
        background-color: #CCC;
        color: white;
        text-align: center;
        line-height: 50px;
        font-size: 10px;
        font-family: 'Gravur';
        text-transform: uppercase;
        margin-top: -10px;
      }
    }

    .class-image {
      height: 150px;
      background-size: cover;
      background-position: center;
    }
    .class-category {
      background-color: #666;
      padding: 5px;
      color: white;
      font-size: 10px;
    }

    .class-tags {
      padding: 10px 0;
      span.tag {
        display: inline-block;
        margin: 0 5px 5px 0;
        border-radius: 10px;
      }
    }

    .class-schedule {
      position: relative;
      padding-right: 40px;
      margin-right: 2px;

      background-image: url(../images/moredown.png);
      background-position: right;
      background-repeat: no-repeat;

      &:nth-child(1){
      }
    }

    .btn-more {
      font-size: 40px;
    height: 34px;
    line-height: 10px;
    border-radius: 100px;
    text-indent: -2px;
    padding: 0px;
    width: 34px;
    }
    
  }

  .masterclass {

    h4 {
      font-weight: bold;
      margin-top: 30px;
    }

    .class-image {
      height: 180px;
      background-image: cover;
      background-position: center;
      margin: 10px 0;
    }

    .floating-tags {
      position: absolute;
      right: 25px;
      z-index: 1;
      margin-top: 10px;
      width: 200px;
      text-align: right;

      .class-new {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: inline-block;
        background-color: #FE1D97;
        color: white;
        text-align: center;
        line-height: 50px;
        font-family: 'Gravur';
        text-transform: uppercase;

      }
      .class-active {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: inline-block;
        background-color: #6DD900;
        color: white;
        text-align: center;
        line-height: 50px;
        font-family: 'Gravur';
        text-transform: uppercase;
        margin-top: -10px;
      }
      .class-inactive {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: inline-block;
        background-color: #CCC;
        color: white;
        text-align: center;
        line-height: 50px;
        font-size: 10px;
        font-family: 'Gravur';
        text-transform: uppercase;
        margin-top: -10px;
      }
    }

    .class-tags {
      padding: 10px 0;
      span.tag {
        display: inline-block;
        margin: 0 5px 5px 0;
        border-radius: 10px;
      }
    }

    .class-schedule {
      position: relative;
      padding-right: 40px;
      margin: 0px 0 0 0;

      background-image: url(../images/moredown.png);
      background-position: right;
      background-repeat: no-repeat;

      &:nth-child(1){
      }
    }

    .applet {
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: #EEEEEE;
      padding: 20px;

      h4 {
        margin-top: 0px;
      }

      &>div {

        .class-schedule {
        }
      }

    }

    [role="tabpanel"] {
      margin: 10px 0;

      [role="tablist"] {

        border-bottom: 0px;

        li {
    
          &.active {
            [role="tab"] {
              background-color: #EEE;
              color: #666666;
            }
          }

          [role="tab"] {
            background-color: #666666;
            color: white;
            font-family: 'Gravur';
            text-transform: uppercase;
            padding: 10px 40px;
            font-size: 18px;
            border-radius: 0px;
            border: 0px;
          }
        }
      }

      .tab-content {
        background-color: #EEEEEE;
        .tab-pane {
          padding: 40px;

          h4 {
            margin-top: 30px;
          }

          p {
            line-height: 1.6;
            color: #666666;
          }

          label {
            color: #666666;
          }
        }
      }
    }

  }
}

.addParticipantModal {

  .modal-dialog {
    width: 400px;
  }

  .class-image {
    position: relative;
    margin-top: -20px;
    height: 150px;
    background-image: cover;
    background-position: center;
    margin: 10px 0;

    .class-info {
      height: 150px;
      color: white;
      background-image: linear-gradient(-90deg,rgba(0,0,0,0) 0%,rgb(0,0,0) 100%);
      h4 {
        font-weight: bold;
      }
      padding: 20px;
      p {
        margin: 5px 0;
      }
    }
  }
}

.modal {
  .modal-content {
    border-radius: 0px;
  }
  .modal-header {
    border-bottom: 0px solid #e5e5e5;
    .modal-title {
      padding-bottom: 10px;
      border-bottom: 2px solid #333;
    }
    .close {
      padding: 5px 10px;
      background-color: #999;
      color: #000;
      opacity: 1;
    }
  }
  .modal-footer {
    border-top: 0px;
  }
  select, input, input[type="text"], input[type="date"], .input-group-addon {
    border-radius: 0px;
    border: 0px;
    background-color: #EEE;
  }
  .modal-footer {
    .btn-primary {
      position: relative;
      padding-right: 40px;
      margin-right: 2px;

      background-image: url(../images/moredown.png);
      background-position: right;
      background-repeat: no-repeat;

      &.cancelclass {
        background-image: url(../images/morecancel.png);
        background-position: left;
        background-repeat: no-repeat;
        background-color: #999;
        border-color: #FFF;
        text-indent: 40px;
        padding-right: 20px;
      }

      &:nth-child(1){
      }
    }
  }
}


.back {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../images/back.png);
  vertical-align: middle;
}

.ui-datepicker-prev {
  float: left;
  width: 15%;
}
.ui-datepicker-next {
  float: right;
  width: 15%;
}
.ui-datepicker-title {
  float: left;
  width: 70%;
  text-align: center;
}


.ui-datepicker-calendar {
  tbody {
    td {
      a {
        color: black;
        padding: 5px;
        margin: 5px;
        line-height: 1;
        display: inline-block;
      }

      &.ui-datepicker-today {
        a {
          background-color: $telstraltblue;
          opacity: .8;
          color: white;
          border-radius: 50%;
        }
      }

      &.ui-datepicker-current-day {
        a {
          background-color: $telstraltblue;
          color: white;
          border-radius: 50%;
        }
      }
    }
  }
}