<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/GravurCondensedRegularRoman/styles.css"> 
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
    <link rel="stylesheet" href="bower_components/jquery-treetable/css/jquery.treetable.css" />
    <link rel="stylesheet" href="bower_components/jquery-treetable/css/jquery.treetable.theme.default.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body ng-app="masterclassApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">masterclass</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li class=""><a href="#/">Small Business</a></li>
              <li class=""><a href="#/">Business &amp; Enterprise</a></li>
              <li class=""><a href="#/">News, Sport &amp; Lifestyle</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="whitenav" ng-controller="LoginCtrl">
        <div class="container">
            <a href="http://www/telstra.com.au"><img src="images/telstra.png" /> Telstra.com</a>
            <div class="col-md-10 pull-right links text-right">
                <a href="">Explore</a>
                <a href="">Shop</a>
                <a href="">Support</a>
                <a href="" ng-if="!isLoggedIn" ng-click="login()">My Account</a>
                <a href="" ng-if="isLoggedIn" data-placement="bottom-right" data-animation="am-fade-and-slide-top" bs-popover data-template="views/myAccountPopover.html" data-auto-close="1">My Account</a>
                <input id="search" type="text" placeholder="Search Telstra.com.au">
            </div>
        </div>
    </div>


    <div id="mainContainer">
    <div id="subheader" class="container" ui-view="header">
    </div>
    <div id="whiteMainContainer" class="container" ui-view="whitemaincontainer"></div>
    </div>

    <div class="footer">
      <div class="container">
            <div class="">
                <div class="col-md-3">
                    <div class="col-wrapper">
                        <ul class="social-icons">
                            <li>
                                <a href="https://www.facebook.com/Telstra24x7" aria-label="Facebook"><span class="social-icon facebook"></span></a>
                            </li>
                            <li><a href="//twitter.com/telstra" aria-label="Twitter"><span class="social-icon twitter"></span></a></li>
                            <li><a href="http://www.youtube.com/user/TelstraCorp" aria-label="YouTube"><span class="social-icon youtube"></span></a></li>
                            <li><a href="//plus.google.com/+Telstra" aria-label="Google+"><span class="social-icon google"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-wrapper">
                        <ul>
                            <li><a href="http://www.telstra.com.au/sitemap" class="header">Telstra.com sitemap</a></li>
                            <li>
                                <a href="https://www.telstra.com.au/contact-us">Contact us</a>
                            </li>
                            <li>
                                <a href="http://www.telstra.com.au/store-locator">Find a store</a>
                            </li>
                            <li><a href="http://careers.telstra.com">Careers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-wrapper">
                        <ul>
                            <li><a href="http://www.telstra.com.au/aboutus" class="header">About us</a></li>
                            <li><a href="http://www.telstrawholesale.com.au">Telstra Wholesale</a></li>
                            <li><a href="http://www.telstraglobal.com">Telstra Global</a></li>
                            <li><a href="http://www.telstra.com.au/personal/digital-story">Telstra Digital</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-wrapper">
                        <ul>
                            <li><a href="https://www.telstra.com.au/consumer-advice" class="header">Consumer Advice</a></li>
                            <li><a href="https://www.telstra.com.au/help/critical-information-summaries">Critical
                                Information Summaries</a></li>
                                <li><a href="http://www.telstra.com.au/terms-of-use">Terms of use</a></li>
                                <li><a href="https://www.telstra.com.au/privacy/privacy-statement">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="bower_components/jquery-treetable/jquery.treetable.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/underscore.js"></script>
        <script src="scripts/services/masterclassservice.js"></script>
        <script src="scripts/services/userservice.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/user.js"></script>
        <script src="scripts/controllers/class.js"></script>
        <script src="scripts/controllers/classschedule.js"></script>
        <!-- endbuild -->

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQ7BzamM95AuyQ2K1klC6HB5tb-ZeUlkk"></script>
</body>
</html>
