<div class="modal addParticipantModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Add Material</h4>
      </div>
      <div class="modal-body" >
      <form class="form-horizontal">
      <div class="form-group">
        <label for="fullname" class="col-sm-3 control-label">Material Name</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="fullname" placeholder="Full Name">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Category</label>
        <div class="col-sm-9">
          <select class="form-control">
            <option>Course</option>
            <option>Promotions</option>
            <option>Participants</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputFile" class="col-sm-3 control-label">Material</label>
        <input type="file" id="exampleInputFile" class="col-sm-9 control-label">
      </div>
    
    </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$hide()">Add Material</button>
      </div>
    </div>
  </div>
</div>