<div class="modal addParticipantModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Add Participant</h4>
      </div>
      <div class="modal-body" >
      <form class="form-horizontal">
      <div class="form-group">
        <div class="class-image" style="background-image: url(images/classimages/large/article{{masterclass.id}}.png);">
          <div class="class-info">
            <h4>{{masterclass.title}} - ID{{masterclass.id}}</h4>
            <p>
              <b>Sydney</b>
            </p>
            <p>
              10:00 - 11:00am<br>
              Thursday 18 Oct 2015
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <p><b>This class is for</b><br>
        Please provide at least one method of contact</p><br>
      </div>
      <div class="form-group">
        <label for="fullname" class="col-sm-3 control-label">Full Name</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="fullname" placeholder="Full Name">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email Address</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="email" placeholder="your@email.com">
        </div>
      </div>
      <div class="form-group">
        <label for="contactnumber" class="col-sm-3 control-label">Contact Number</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="contactnumber" placeholder="Your Contact #">
        </div>
      </div>
    </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$hide(); showConfirmation();">Add Participant</button>
      </div>
    </div>
  </div>
</div>