<div class="modal addParticipantModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Change Date</h4>
      </div>
      <div class="modal-body" >
      <form class="form-horizontal">
      <div class="form-group">
        <label for="" class="col-sm-3 control-label">Date</label>
        <div class="col-sm-9">
          <input type="date" class="form-control" id="" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-3 control-label">Time</label>
        <div class="col-sm-9">
          <input type="time" class="form-control" id="" placeholder="">
        </div>
      </div>
    
    </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$hide()">Save</button>
      </div>
    </div>
  </div>
</div>