<div class="modal addParticipantModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Change Location</h4>
      </div>
      <div class="modal-body" >
      <form class="form-horizontal">
      <div class="form-group">
        <label for="" class="col-sm-3 control-label">Location</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="" placeholder="" ng-model="location">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-12 control-label">
          <iframe
        width="100%" height="200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCQ7BzamM95AuyQ2K1klC6HB5tb-ZeUlkk&q=telstra+discovery+interbrand">
      </iframe>
        </label>
      </div>
    
    </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$hide()">Save</button>
      </div>
    </div>
  </div>
</div>