<div class="row">
  <div class="col-md-3 sidebar">
      <div class="col-md-12">
      <h5></h5>
      <div class="form-group">
        <input type="text" class="form-control" id="" ng-model="storenames" placeholder="Telstra Store" data-placement="bottom-left" data-animation="am-fade-and-slide-top" bs-options="store.name for store in stores" bs-typeahead>
        <div class="checkbox" ng-repeat="classstatus in classstatuses">
          <label>
            <input type="checkbox" ng-model="classstatus.checked"> {{classstatus.label}}
          </label>
        </div>
      </div>

      <div class="form-group">
        <button ng-repeat="schedule in scheduled" ng-click="setScheduled(schedule.id)" type="button" class="btn btn-block scheduledfor" ng-class="schedule.selected ? 'btn-primary' : 'btn-default'">{{schedule.label}}</button>
      </div>

      <h4>Sydney Discovery</h4>
      <div class="form-group">
        <a ng-repeat="schedule in masterclass.schedules[0].schedules" type="button" class="btn btn-block scheduledfor" ng-class="schedule.id == scheduleId ? 'btn-primary' : 'btn-default'" href="#/class/{{masterclass.id}}/{{schedule.id}}">{{schedule.label}}</a>
      </div>
      <h4>World Square</h4>
      <div class="form-group">
        <a ng-repeat="schedule in masterclass.schedules[1].schedules" type="button" class="btn btn-block scheduledfor" ng-class="schedule.id == scheduleId ? 'btn-primary' : 'btn-default'" href="#/class/{{masterclass.id}}/{{schedule.id}}">{{schedule.label}}</a>
      </div>
      <h4>Elizabeth Street</h4>
      <div class="form-group">
        <a ng-repeat="schedule in masterclass.schedules[2].schedules" type="button" class="btn btn-block scheduledfor" ng-class="schedule.id == scheduleId ? 'btn-primary' : 'btn-default'" href="#/class/{{masterclass.id}}/{{schedule.id}}">{{schedule.label}}</a>
      </div>
    </div>
  </div>
  <div id="class-{{masterclass.id}}" class="col-md-9 main-content masterclass">

    <div class="col-md-12">
      <h2><a class="btn btn-primary" style="padding: 0px; margin-top: -5px;" href="" ng-click="back()"><img src="images/moredown_reverse.png"></a> <a href="#/class/{{masterclass.id}}">{{masterclass.title}} - ID{{masterclass.id}}</a></h2>
    </div>

    <div class="col-md-12">
      <div class="class-tags">
        <span class="tag btn btn-default btn-xs" ng-repeat="tag in masterclass.tags">{{tag.label}}</span>
      </div>
    </div>

    <div class="col-md-12">
      <div class="class-image" style="background-image: url(images/classimages/large/article{{masterclass.id}}.png);">
        <div class="floating-tags">
          <div class="class-new" ng-if="masterclass.isnew">New</div>
          <div class="class-active" ng-if="masterclass.isactive">Active</div>
          <div class="class-inactive" ng-if="!masterclass.isactive">Inactive</div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
    <p>
      {{masterclass.description}}
      </p>
    </div>

    <div class="col-md-12">
      <h4>Skills Taught</h4>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, corrupti.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, sed debitis unde.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus fugit enim corporis.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, voluptas, harum. Ad.</li>
      </ul>
    </div>

    <div class="col-md-12">
      <h4>When</h4>

        <p ng-repeat="schedule in masterclass.schedules[0].schedules" ng-show="schedule.id == scheduleId">{{schedule.label}}</p>
        <p ng-repeat="schedule in masterclass.schedules[1].schedules" ng-show="schedule.id == scheduleId">{{schedule.label}}</p>
        <p ng-repeat="schedule in masterclass.schedules[2].schedules" ng-show="schedule.id == scheduleId">{{schedule.label}}</p>

    </div>

    <div class="col-md-12">
      <h4>Location
      <!-- <a ng-if="isLoggedIn" class="btn btn-link" ng-click="changeLocationModal()"><i class="glyphicon glyphicon-pencil"></i> Change</a> -->
      </h4>
      <iframe
        width="100%" height="200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCQ7BzamM95AuyQ2K1klC6HB5tb-ZeUlkk&q=telstra+discovery+interbrand">
      </iframe>
    </div>

    <div class="col-md-12" ng-if="isLoggedIn">
      <div class="applet">
        <div class="col-md-12">
          <a class="btn btn-primary class-schedule pull-right" href="" ng-click="showAddParticipantModal()">Add Participant</a>
          <a ng-if="isLoggedIn" class="btn btn-link pull-right" ng-click="scheduleClassModal()"><i class="glyphicon glyphicon-pencil"></i> Edit Booking</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="applet">
        <h4>6 of 8 Participants </h4>
        <table class="table table-striped">
          <tbody>
            <tr ng-repeat="participant in participants">
              <td><small>{{participant.name}}</small></td>
              <td><small>{{participant.phone}}</small></td>
              <td><small><a hef="">{{participant.email}}</a></small></td>
              <td ng-if="isLoggedIn"> <a class="btn btn-link btn-sm" ng-click="showEditParticipantModal(participant)"><i class="glyphicon glyphicon-pencil"></i> Edit</a> <a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i> Remove</a> </td>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-12">
      <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" ng-init="activeTab = 1">
          <li role="presentation" ng-class="activeTab == 1 ? 'active' : ''"><a role="tab" data-toggle="tab" ng-click="activeTab = 1">Support</a></li>
          <li role="presentation"  ng-class="activeTab == 2 ? 'active' : ''"><a role="tab" data-toggle="tab" ng-click="activeTab = 2">Materials</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" >
          <div ng-show="activeTab == 1" class="tab-pane active" id="support">
          <a ng-if="isLoggedIn" class="btn btn-link" ng-click="editSupportModal()"><i class="glyphicon glyphicon-plus"></i> Edit Support</a>

            <h4>Tips &amp; Prerequisites</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores maiores numquam iure doloremque. Modi nesciunt minima iste obcaecati, consequatur. Id obcaecati cumque expedita illo esse, animi magni nam explicabo facilis provident. Laudantium placeat libero architecto exercitationem vel iusto reiciendis aliquid, sunt ab, vero quidem sit, illo aspernatur, quasi nesciunt velit.
            </p>

            <h4>Preparation</h4>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, ea.
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, reprehenderit.
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, in!
              </label>
            </div>

            <h4>On The Day</h4>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, ea.
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, reprehenderit.
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, in!
              </label>
            </div>

            <h4>After the Event</h4>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, ea.
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, reprehenderit.
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, in!
              </label>
            </div>
          </div>
          <div ng-show="activeTab == 2" class="tab-pane active" id="materials">
            <a ng-if="isLoggedIn" class="btn btn-link" ng-click="addMaterialModal()"><i class="glyphicon glyphicon-plus"></i> Add Material</a>
            <table id="example-basic">
              <caption>
                <a href="#" onclick="jQuery('#example-basic').treetable('expandAll');  return false;">Expand all</a>
                <a href="#" onclick="jQuery('#example-basic').treetable('collapseAll'); return false;">Collapse all</a>
              </caption>
              <thead>
                <tr>
                  <th>Documentation</th>
                  <th>Download</th>
                  <th ng-if="isLoggedIn">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr data-tt-id="1">
                  <td>Course</td>
                  <td><a><i class="glyphicon glyphicon-download-alt"></i> Download All</a></td>
                  <td ng-if="isLoggedIn"><a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-pencil"></i> Edit</a> <a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                </tr>
                <tr data-tt-id="1.1" data-tt-parent-id="1">
                  <td>Handout 1</td>
                  <td><a><i class="glyphicon glyphicon-download-alt"></i> Download</a></td>
                  <td ng-if="isLoggedIn"><a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-pencil"></i> Edit</a> <a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                </tr>
                <tr data-tt-id="1.2" data-tt-parent-id="1">
                  <td>Handout 2</td>
                  <td><a><i class="glyphicon glyphicon-download-alt"></i> Download</a></td>
                  <td ng-if="isLoggedIn"><a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-pencil"></i> Edit</a> <a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                </tr>
                <tr data-tt-id="1.3" data-tt-parent-id="1">
                  <td>Handout 3</td>
                  <td><a><i class="glyphicon glyphicon-download-alt"></i> Download</a></td>
                  <td ng-if="isLoggedIn"><a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-pencil"></i> Edit</a> <a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                </tr>
                <tr data-tt-id="1.4" data-tt-parent-id="1">
                  <td>Handout 4</td>
                  <td><a><i class="glyphicon glyphicon-download-alt"></i> Download</a></td>
                  <td ng-if="isLoggedIn"><a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-pencil"></i> Edit</a> <a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                </tr>
                <tr data-tt-id="2">
                  <td>Promotion</td>
                  <td><a><i class="glyphicon glyphicon-download-alt"></i> Download All</a></td>
                  <td ng-if="isLoggedIn"><a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-pencil"></i> Edit</a> <a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                </tr>
                <tr data-tt-id="2.1" data-tt-parent-id="2">
                  <td>Sign</td>
                  <td><a><i class="glyphicon glyphicon-download-alt"></i> Download</a></td>
                  <td ng-if="isLoggedIn"><a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-pencil"></i> Edit</a> <a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                </tr>
                <tr data-tt-id="2.2" data-tt-parent-id="2">
                  <td>Ad</td>
                  <td><a><i class="glyphicon glyphicon-download-alt"></i> Download</a></td>
                  <td ng-if="isLoggedIn"><a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-pencil"></i> Edit</a> <a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                </tr>
                <tr data-tt-id="2.3" data-tt-parent-id="2">
                  <td>Desktop</td>
                  <td><a><i class="glyphicon glyphicon-download-alt"></i> Download</a></td>
                  <td ng-if="isLoggedIn"><a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-pencil"></i> Edit</a> <a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                </tr>
                <tr data-tt-id="2.4" data-tt-parent-id="2">
                  <td>Document</td>
                  <td><a><i class="glyphicon glyphicon-download-alt"></i> Download</a></td>
                  <td ng-if="isLoggedIn"><a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-pencil"></i> Edit</a> <a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                </tr>
                <tr data-tt-id="3">
                  <td>Participants</td>
                  <td><a><i class="glyphicon glyphicon-download-alt"></i> Download All</a></td>
                  <td ng-if="isLoggedIn"><a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-pencil"></i> Edit</a> <a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                </tr>
                <tr data-tt-id="3.1" data-tt-parent-id="3">
                  <td>Handout 1</td>
                  <td><a><i class="glyphicon glyphicon-download-alt"></i> Download</a></td>
                  <td ng-if="isLoggedIn"><a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-pencil"></i> Edit</a> <a class="btn btn-link btn-sm"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>