<div class="modal addParticipantModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Edit Support</h4>
      </div>
      <div class="modal-body" >
      <form class="">
      <div class="form-group">
        <div class="col-md-12">
          <label for="" class=" control-label">Tips &amp; Prerequisites</label>
        </div>
        <div class="col-md-12">
          <textarea name="" class="form-control" rows="5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores maiores numquam iure doloremque. Modi nesciunt minima iste obcaecati, consequatur. Id obcaecati cumque expedita illo esse, animi magni nam explicabo facilis provident. Laudantium placeat libero architecto exercitationem vel iusto reiciendis aliquid, sunt ab, vero quidem sit, illo aspernatur, quasi nesciunt velit.
          </textarea>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

      <div class="form-group">
        <div class="col-md-12">
          <label for="" class=" control-label">Preparation</label>
        </div>
        <div class="col-md-12">
          <textarea name="" class="form-control" rows="3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, ea.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, reprehenderit.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, in!</textarea>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

      <div class="form-group">
        <div class="col-md-12">
          <label for="" class=" control-label">On The Day</label>
        </div>
        <div class="col-md-12">
          <textarea name="" class="form-control" rows="3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, ea.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, reprehenderit.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, in!</textarea>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

      <div class="form-group">
        <div class="col-md-12">
          <label for="" class=" control-label">After The Event</label>
        </div>
        <div class="col-md-12">
          <textarea name="" class="form-control" rows="3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, ea.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, reprehenderit.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, in!</textarea>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

    </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$hide()">Edit Support</button>
      </div>
    </div>
  </div>
</div>