<div class="modal addParticipantModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Edit Schedule</h4>
      </div>
      <div class="modal-body" >
      <form class="">
      <div class="form-group">
        <div class="col-md-12">
          <label for="" class=" control-label">Venue</label>
        </div>
        <div class="col-md-12">
          <input type="" class="form-control" id="" ng-init="venue = 'Sydney Discovery'" ng-model="venue" placeholder="Venue">
          <div>
            <div id="map-canvas" style="height: 150px; width: calc(100% + 60px); margin: 10px -30px;"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

      <div class="form-group">
        <div class="col-md-12">
          <label for="" class=" control-label">Date &amp; Time</label>
        </div>
        <div class="col-md-12">
          <div class="input-group" data-placement="bottom-left" data-animation="am-fade-and-slide-top" bs-popover data-template="views/imagesPopover.tpl.html" data-auto-close="1">
            <input type="text" class="form-control" id="" value="17/04/2015, 10:30AM" placeholder="Date" >
            <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
          </div>
          
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

      <div class="form-group">
        <div class="col-md-12">
          <label for="" class=" control-label">Repeat</label>
          <select class="form-control">
            <option>For one week</option>
            <option>For two weeks</option>
            <option>For three weeks</option>
            <option>Once</option>
          </select>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
          <div class="col-md-12" style="padding: 10px 0 10px 0;">
              <label>
                <input type="checkbox"> M
              </label>&nbsp;
              <label>
                <input type="checkbox"> T
              </label>&nbsp;
              <label>
                <input type="checkbox"> W
              </label>&nbsp;
              <label>
                <input type="checkbox"> Th
              </label>&nbsp;
              <label>
                <input type="checkbox" checked> F
              </label>&nbsp;
              <label>
                <input type="checkbox"> S
              </label>&nbsp;
              <label>
                <input type="checkbox"> Su
              </label>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
          <div class="col-md-4" style="padding-top: 5px;">
            End Date
          </div>
          <div class="col-md-8">
            <input type="date" disabled class="form-control" value="2015-02-09" id="" placeholder="End Date">
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

      <div class="form-group">
        <div class="col-md-12">
          <label for="" class="control-label">Class Size</label>
        </div>
        <div class="col-md-6">
          <input type="" class="form-control" id="" value="8" placeholder="">
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

      <div class="form-group">
        <div class="col-md-12">
          <label for="" class="control-label">Facilitator</label>
        </div>
        <div class="col-md-12">
          <input type="" class="form-control" id="" value="Stephen" placeholder="">
        </div>
        <div class="clearfix"></div>
      </div>
    </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary cancelclass pull-left" ng-click="$hide(); scheduleClassConfirmationModal()">Cancel Class</button>
        <button type="button" class="btn btn-primary" ng-click="$hide(); scheduleClassConfirmationModal()">Save Class</button>
      </div>
    </div>
  </div>
</div>