<div class="modal addParticipantModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Updated</h4>
      </div>
      <div class="modal-body" >
      
        <p>Participant details have been updated</p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$hide();">Ok</button>
      </div>
    </div>
  </div>
</div>