<div class="row">
  <div class="col-md-4">
    <h1 id="title"><a href="#/">Masterclasses</a></h1>
  </div>
  <div class="col-md-8 text-right loggedin" ng-show="!isLoggedIn">
    <!-- <a id="loginbtn" class="btn btn-primary pull-right btn-lg" data-placement="bottom-right" data-animation="am-fade-and-slide-top" bs-popover data-template="views/loginPopover.html" data-auto-close="1">Login <span class="caret"></span></a> -->
    <!-- <a id="loginbtn" class="btn btn-primary pull-right btn-lg" ng-click="login();">Login <span class="caret"></span></a> -->

    <!-- <a class="btn btn-link"><b>Sydney Discovery Store</b></a> -->
    <a class="btn btn-link"><i class="glyphicon glyphicon-earphone"></i> Contact Us</a>
    <a class="btn btn-link"><i class="glyphicon glyphicon-print"></i> Print Timetable</a>
  </div>
  <div class="col-md-8 text-right loggedin" ng-show="isLoggedIn">
    <!-- <a class="btn btn-link"><b>Sydney Discovery Store</b></a> -->
    <a class="btn btn-link"><i class="glyphicon glyphicon-earphone"></i> Contact Us</a>
    <a class="btn btn-link"><i class="glyphicon glyphicon-print"></i> Print Timetable</a>
    <!-- <a class="btn btn-link" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Logout</a> -->
  </div>
</div>