<div class="popover">
  <div class="arrow"></div>
<!--   <h3 class="popover-title" >Images</h3> -->
  <div class="popover-content" >
    <div id="datepicker" style="padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #CCC;"></div>
  	<input type="time" value="10:30:00" style="width: 100%; line-height: 20px; padding: 5px; border-radius: 5px; border: 0px; background-color: #CCC;" />
  </div>
</div>

<script>
  $( "#datepicker" ).datepicker();
</script>