<div class="modal addParticipantModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" >
      
        {{message}}

      </div>
    </div>
  </div>
</div>