<div class="popover medium">
  <div class="arrow"></div>
  <div class="popover-content" >
    <form>
      <p><small>You aren’t logged in, please log in so you can access the masterclass resources and assets</small></p>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div>
        <button type="submit" class="btn btn-primary" ng-click="login(); $hide()">Login</button>
        <label>
          <input type="checkbox"> Remember Me
        </label>
      </div><br />
      <a><b>Forgot your password?</b></a><br/>
      <a><b>Problems signing in?</b></a><br/>
    </form>
  </div>
</div>
