<div class="row">
  <div class="col-md-3 sidebar">
      <div class="col-md-12">

      <h3>My store</h3>
      <div class="form-group">
        <input type="text" class="form-control" id="" ng-model="storenames" placeholder="Telstra Store" data-placement="bottom-left" data-animation="am-fade-and-slide-top" bs-options="store.name for store in stores" bs-typeahead>
        <div class="checkbox" ng-repeat="classstatus in classstatuses">
          <label>
            <input type="checkbox" ng-model="classstatus.checked"> {{classstatus.label}}
          </label>
        </div>
      </div>

      <h3>Scheduled for</h3>
      <div class="form-group">
        <button ng-repeat="schedule in scheduled" ng-click="setScheduled(schedule.id)" type="button" class="btn btn-block scheduledfor" ng-class="schedule.selected ? 'btn-primary' : 'btn-default'">{{schedule.label}}</button>
      </div>

      <h3>Categories</h3>
      <div class="form-group">
        <button ng-repeat="category in categories" ng-click="setCategory(category.id)" type="button" class="btn btn-block scheduledfor" ng-class="category.selected ? 'btn-primary' : 'btn-default'">{{category.label}}</button>
      </div>

      <h3>Tags</h3>
      <div class="form-group">
        <span ng-repeat="tag in tags" ng-click="setTag(tag.id)" class="tag btn btn-default btn-xs" ng-class="tag.selected ? 'btn-primary' : 'btn-default'">{{tag.label}}</span>
      </div>

    </div>
  </div>
  <div class="col-md-9 main-content">
    <div class="col-md-12">
      <h2>Welcome to Masterclasses</h2>
      <p>
      Masterciasses ¡s all about making it easy to locate classes consectetur adipiscing elit Phasellus pretium quis turpis sed semper. Donec eget urna malesuada, posuere mauris ut. placerat nunc. Sed in commodo enim. Vivamus sed pretium ligula. Quisque tempus auctor leo, eget maximus augue Phasellus pretium quis turpis sed semper. Donec eget urna malesuada, posuere mauris ut, placerat nunc. Sed in commodo enim. Vivamus sed pretium tigula. Quisque tempus auctor leo, eget maximus augue,
      </p>
    </div>

    <div class="col-md-12">
      <h3>Sydney Discover</h3>
      <p>400 George Street, Sydney NSW 2000</p>
    </div>

    <div class="col-md-12">
      <article class="class" ng-repeat="class in masterclasses | filter:filterTags | filter:filterCategory | filter:filterSchedule | filter:filterActive">
        <div class="floating-tags">
          <div class="class-new" ng-if="class.isnew">New</div>
          <div class="class-active" ng-if="class.isactive">Active</div>
          <div class="class-inactive" ng-if="!class.isactive">Inactive</div>
        </div>
        <div class="col-md-3">
          <div class="class-image" style="background-image: url(images/classimages/mini/article{{class.id}}.png);"></div>
          <div class="class-category">{{class.category.label}}</div>
        </div>
        <div class="col-md-9">
          <div>
            <h4><a href="#/class/{{class.id}}" class="class-title">{{class.title}} - ID{{class.id}}</a></h4>
          </div>
          <div class="class-description">
            {{class.description}}
          </div>
          <div class="class-tags">
            <span class="tag btn btn-default btn-xs" ng-repeat="tag in class.tags">{{tag.label}}</span>
          </div>
          <div>
            <a class="btn btn-primary class-schedule" href="#/class/{{class.id}}/{{schedule.id}}" ng-repeat="schedule in class.schedulesfor.schedules | limitTo: 2" >{{schedule.label}}</a>
            <a class="btn btn-primary btn-more" href="#/class/{{class.id}}" ng-if="class.schedulesfor.schedules.length > 2">...</a>
          </div>
        </div>
        <div class="clearfix"></div>
      </article>
    </div>

  </div>
</div>