<div class="popover medium">
  <div class="arrow"></div>
  <div class="popover-content" >
  <a href=""><i class="glyphicon glyphicon-pencil"></i> Change Password</a>
  <a href="" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
  </div>
</div>
