<div class="popover medium">
  <div class="arrow"></div>
  <div class="popover-content" >
    <input type="text" class="form-control" placeholder="Search" ng-model="qStoreName">
    <div class="checkbox" ng-repeat="store in stores | filter:qStoreName as results">
      <label>
        <input type="radio" value="store.id" name="store">
        {{store.name}}
      </label>
    </div>
    <div>
      <button type="submit" class="btn btn-default" ng-click="$hide()">Set Store</button>
    </div>
  </div>
</div>
